@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@font-face {
    font-family: one-piece-font;
    src: url(/resources/one-piece-font.ttf);
}

:root {
    --text-shadow-color: rgb(210, 0, 35);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: one-piece-font, 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    /* overflow: hidden; */
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;

    /* https://www.wallpaperflare.com/one-piece-monkey-d-luffy-wallpaper-gkhvh/download */
    background: url(resources/background-main.jpg) center / cover;
}

.wrapper {
    width: 70vw;
    height: 80vh;
    /* position: relative; */
    display: flex;
    justify-content: center;

    /* add glass effect */
    background: linear-gradient(135deg, rgba(90, 8, 223, 0.1), rgba(240, 12, 12, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.left-section {
    height: 100%;
    width: 45vw;
    border-radius: 20px 0 0 20px;
    background: url(resources/going-merry.jpg) center / cover;
}

.left-section .banner {
    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    height: 20%;
}

.banner img {
    width: 25%;
    margin-left: 1%;
}

.left-section span {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 4rem;
    color: #ffffff;
    margin-left: 10px;
}

.right-section {
    width: 75vw;
    display: flex;
    flex-direction: column;
}

.right-section .greeting,
.right-section .form-container {
    margin-top: 2rem;
    margin-left: 2rem;
}

.greeting h1 {
    margin-top: 2rem;
    font-size: 1.8rem;
    filter: drop-shadow(10px 10px 10px red);
}

h1 span {
    display: block;
    width: 100%;
    text-align: right;
    filter: drop-shadow(10px 10px 10px red);
}

.right-section .greeting {
    letter-spacing: 0.2rem;
    width: min(75%, 75ch);
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
}

form .form-header {
    grid-column: 1 / span 2;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.input-container {
    display: flex;
    flex-direction: column;
}

input {
    height: 2rem;
    width: 70%;
    font-size: 1.5rem;
    padding: 0.5em;
    background: transparent;
    border: none;
    border-bottom: solid 2px black;
    border-radius: 5px;
}

label {
    opacity: 0;
    width: 70%;
    font-size: 1.5rem;
    transform: translate(10px, -35px);
    transition: all 0.5s;
}

input:focus + label,
input:valid + label {
    transform: translate(0, -65px);
    opacity: 1;
}

input:focus,
input:focus-visible {
    border: solid 2px black;
    outline: none;
}

input:valid {
    border: solid 2px greenyellow;
}

button {
    padding: 0.1rem;
    font-size: 1.5rem;
    font-weight: 900;
    width: 50%;
    height: 3rem;
    border-radius: 5px;
    color: #ffffff;
    background-color: #0bccbc;
}

.log-in {
    margin-top: 0.8rem;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border: solid 2px red;
}

.input-container .error-message {
    opacity: 0;
    color: red;
}
  
input:not(:focus):not(:placeholder-shown):invalid + label + .error-message {
    opacity: 1;
    transition: 0.5s;
}

input::placeholder {
    color: black;
    transition: all 0.5s;
}

input:focus::placeholder {
    opacity: 0;
}

a {
    text-decoration: none;
    color: black;
    filter: drop-shadow(10px 10px 5px red);
}

* {
    /* outline: 1px solid black; */
}